{
  "env": { "node": true, "es6": true },
  "rules": {
    "strict": [2, "global"],
    "semi": [2, "always"],
    "no-empty": 2,
    "indent": [2, 2],
    "quotes": [1, "single"],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "FunctionExpression": true
      }
    }],
    "key-spacing": [0, {"align": "colon", "beforeColon": false, "afterColon": true}],
    "no-underscore-dangle": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": false }],
    "no-debugger": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 2,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 1,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 1,
    "valid-typeof": 2,
    "no-unexpected-multiline": 1,
    "curly": 2,
    "eqeqeq": 2,
    "dot-notation": 1,
    "accessor-pairs": 2,
    "block-scoped-var": 2,
    "complexity": [2, 10],
    "guard-for-in": 2,
    "no-alert": 2,
    "no-else-return": 1,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 1,
    "no-implicit-coercion": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 1,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 1,
    "no-multi-str": 2,
    "no-octal": 2,
    "no-param-reassign": 1,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 1,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 1,
    "wrap-iife": 1,
    "yoda": 2,
    "no-unused-vars": 1,
    "no-undef": 1,
    "no-shadow": 1,
    "no-delete-var": 2,
    "no-catch-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef-init": 1,
    "no-use-before-define": 1,
    "global-require": 1,
    "no-new-require": 1,
    "handle-callback-err": 2,
    "callback-return": 1,
    "brace-style" : [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": 1,
    "eol-last": 2,
    "func-names": 1,
    "no-array-constructor": 2,
    "no-continue": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-nested-ternary": 1
  }
}
